<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" routerLink="/banner">Banner</button>
      <button class="btn btn-primary" routerLink="/timer">Timer</button>
      <button class="btn btn-primary" routerLink="/products">Products</button>
      <button class="btn btn-primary" routerLink="/timersubject">Timer using Subject</button>
      <button class="btn btn-primary" routerLink="/students">Student Details</button>
      <button class="btn btn-primary" routerLink="/divcreate">Dynamic Divs</button>
      <button class="btn btn-primary" routerLink="">Home</button>
    </div>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
