<div class="comp-two-wrapper">
    <div class="input-timer">
        <label for="timelimit">Enter Timer Limit</label>
        <input type="number" min="0" id="timelimit" [(ngModel)]="currentTimer"/>
    </div>
    <div class="button-wrap">
        <button class="btn btn-success" type="button" (click)="triggerTimer()">Start/Pause</button>
        <button class="btn btn-danger" type="button" (click)="resetEvent()">Reset</button>
    </div>

    <ng-container *ngFor="let pause of pauseTimes">
        <div>Paused at... {{ pause }}</div>
    </ng-container>
</div>
